<h1>Listing slides</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc left</th>
      <th>Desc right</th>
      <th>Pictures</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= slide.desc_left %></td>
        <td><%= slide.desc_right %></td>
        <td><%= image_tag slide.pictures.url(:thumb) %></td>
        <td><%= link_to 'Show', [:admin, slide] %></td>
        <td><%= link_to 'Edit', edit_admin_slide_path(slide) %></td>
        <td><%= link_to 'Destroy', [:admin, slide], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Slide', new_admin_slide_path %>
