<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>Desc left:</strong>
  <%= @slide.desc_left %>
</p>

<p>
  <strong>Desc right:</strong>
  <%= @slide.desc_right %>
</p>

<%= image_tag @slide.pictures.url(:thumb) %>
<%= link_to 'Edit', edit_admin_slide_path(@slide) %> |
<%= link_to 'Back', admin_slides_path %>
