<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slide.name %>
</p>

<p>
  <strong>desc left:</strong>
  <%= @slide.desc_left %>
</p>

<p>
  <strong>desc right:</strong>
  <%= @slide.desc_right %>
</p>
<%= image_tag @slide.pictures.url(:thumb) %>

<%= link_to 'Back', slides_path %>
