<%= form_for([:admin, @model]) do |f| %>
  <% if @model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% @model.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :slides %><br>
    <%= f.text_field :slides %>
    </div>
  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :desc_left %><br>
    <%= f.text_area :desc_left %>
    </div>
  <div class="field">
      <%= f.label :desc_right %><br>
    <%= f.text_area :desc_right %>
    </div>
  <div class="field">
      <%= f.label :pictures %><br>
    <%= f.text_field :pictures %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
