<h1>Listing models</h1>

<table>
  <thead>
    <tr>
      <th>Slides</th>
      <th>Name</th>
      <th>Desc left</th>
      <th>Desc right</th>
      <th>Pictures</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <td><%= model.slides %></td>
        <td><%= model.name %></td>
        <td><%= model.desc_left %></td>
        <td><%= model.desc_right %></td>
        <td><%= model.pictures %></td>
        <td><%= link_to 'Show', [:admin, model] %></td>
        <td><%= link_to 'Edit', edit_admin_model_path(model) %></td>
        <td><%= link_to 'Destroy', [:admin, model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model', new_admin_model_path %>
