<p id="notice"><%= notice %></p>

<p>
  <strong>Slides:</strong>
  <%= @model.slides %>
</p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<p>
  <strong>Desc left:</strong>
  <%= @model.desc_left %>
</p>

<p>
  <strong>Desc right:</strong>
  <%= @model.desc_right %>
</p>

<p>
  <strong>Pictures:</strong>
  <%= @model.pictures %>
</p>

<%= link_to 'Edit', edit_admin_model_path(@model) %> |
<%= link_to 'Back', admin_models_path %>
